{% apply spaceless %}
{{ form_start(frm, { 'attr':{'id':'frmUpPdf'} }) }}
    {{ form_row(frm.archivo) }}
    <button type="submit" class="btn btn-success btn-sm badge-pill px-2 btn-block">Subir PDF</button>
{{ form_end(frm) }}
{% endapply %}
