{% apply spaceless %}
<div class="d-flex">
  <a href="#" id="copiarNombreFile" data-url="<%:nombreFile %>"><i class="far fa-copy text-warning" style="font-size: 0.8rem;"></i></a>
  <small class="ml-2 text-muted">Nombre del Archivo:</small>
</div>
<span class="d-block"> <%:~nombreCut(nombreFile) %> </span>

<div class="text-center">
  <div id="containerQrPeq">...</div>
  <small class="d-block"> <a href="{{ path('tds_panel-getQrBig', {'uri':'__uri__'}) }}" id="downloadQrLink" class="text-decoration-none text-primary ml-auto d-none">Descargar QR</a> </small>
</div>

<div id="containerFrmUp" class="mt-2">
  {{ render(controller('App\\Controller\\Tds\\PanelTdsController::getFrmUploadPdf')) }}
</div>
{% endapply %}
