<%if nombre == '0' %>
  <div class="mr-1 d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; background-color: #ccc;">
    <i class="fas fa-camera text-light" style="font-size: 1.2rem;"></i>
  </div>
<%else %>
  <a href="#" class="text-decoration-none" data-nombre="<%:nombre %>" data-toggle="modal" data-target="#modalDownloadFotoDisenio">
    <div class="mr-1 d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; background-color: #ccc;">
      <img src="<%:~path(nombre) %>" width="50" height="50" alt="imagen">
    </div>
  </a>
<%/if %>
