
<div class="text-left">
  <small class="text-muted d-block"> <b>VENDEDOR:</b> <%:v_nombre %></small>
  <a href="#" id="td<%:td_id %>" data-idtd="<%:#getIndex() %>"><%:td_nombreEmpresa %></a>
  <small class="text-muted ml-1"> DE: <%:us_nombre %></small>
  <hr>
</div>
