{% apply spaceless %}
<div class="text-left">
  <%if v_nombre %>
    <small class="text-muted d-block"> <b>VENDEDOR: </b> <%:v_nombre %></small>
  <%else %>
      <small class="text-muted d-block"> <b>VENDEDOR: </b> <%:em_nombre %></small>
  <%/if%>
  <a href="#" id="td<%:td_id %>" data-idtd="<%:#getIndex() %>"><%:td_nombreEmpresa %></a>
  <small class="text-muted ml-1"> DE: <%:us_nombre %></small>
  <hr>
</div>
{% endapply %}
