{% extends 'panel_base.html.twig' %}

{% block title %}Categorias{% endblock %}
{% block bodyContenedor %}

  <section class="row">
    <article class="col">
      <section class="row">
        <article class="col-8">

          <section class="row">
            <article class="col">
              <div class="d-flex align-items-center">
                <div>
                  <small id="cantCategos" class="badge badge-secondary mr-2">0</small>
                </div>
                <h5 class="text-muted p-0 m-0">Lista de Categorías.</h5>
              </div>
              <hr>
              <div class="overflow-auto px-3 bg-white" style="height:70vh;">
                <small> <a href="{{ path('admin_categorias-index') }}">Click para dar de Alta nueva Categoría</a> </small>
                <div class="p-2" id="cjaCategos">
                  <h6 class="text-muted">Sin Elemento para mostrar</h6>
                </div>
              </div>
            </article>
            <article class="col">
              <div class="d-flex align-items-center">
                <div>
                  <small id="cantSubCategos" class="badge badge-secondary mr-2">0</small>
                </div>
                <h5 class="text-muted p-0 m-0">Lista de SubCategorías.</h5>
              </div>
              <hr>
              <div class="overflow-auto px-3 bg-white" style="height:70vh;">
                <div class="p-2" id="cjaCatSubs">
                  <h6 class="text-muted">Sin Elemento para mostrar</h6>
                </div>
              </div>
            </article>
          </section>
        </article>
        <article class="col-4 px-4">

          <h5 id="txtTitAct" class="text-muted">Alta de Nueva Categoría</h5>
          <hr>
          <div class="d-flex justify-content-center align-items-center">
            <form id="frmGestCategos" class="mw-50" action="#" method="post">
              <div class="card shadow rounded p-5">
                <div class="input-group">
                  <input id="txtNombre" name="frmGestCategos_nombre" type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="btnSave">
                </div>
                <small id="printErrors" class="text-danger mt-1">Campo Requerido</small>
                <button class="btn colorBtnSig mt-3" type="submit" id="btnSave">Guardar</button>
              </div>
            </form>
          </div>
        </article>
      </section>
    </article>

  </section>

{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('categos') }}
  <script id="ptlCheckCats" type="text/x-jsrender">{% include 'admin/categorias/widgets/check_cats.html.twig' %}</script>
{% endblock %}
