<div class="card p-3 mb-3">
  <div class="d-flex">
    <div class="mr-auto">
      <h5>Plaza San Juan de Dios</h5>
      <div class="d-flex">
        <small class="mr-2"> <b>ID:</b> 1</small>
        <small class="mr-2"> <b>Contacto:</b> Luis Covarrubias Espindola</small>
      </div>
    </div>
    <div class="ml-auto">
      <div class="d-flex justify-content-end mt-2">
        <small class="mr-4"> <a class="btn btn-sm btn-outline-dark" href="#" title="Configurar"><i class="fas fa-cog"></i></a> </small>
        <small class="mr-4"> <a class="btn btn-sm btn-outline-secondary" href="#" title="ir a PlayStore"><i class="fab fa-google-play"></i></a> </small>
        <small class="mr-4"> <a class="btn btn-sm btn-outline-primary" href="#" title="Editar"><i class="fas fa-pencil-alt"></i></a> </small>
        <small class="mr-4"> <a class="btn btn-sm btn-outline-success" href="#" title="Pausar"><i class="fas fa-pause"></i></a> </small>
        <small class="mr-4"> <a class="btn btn-sm btn-outline-danger" href="#" title="Eliminar"><i class="fas fa-trash"></i></a> </small>
      </div>
    </div>
  </div>


</div>
