{% extends 'panel_base.html.twig' %}

{% block title %}Franquicias{% endblock %}
{% block bodyContenedor %}

  {% include 'generales/franquicias/widgets/nav-bar.html.twig' %}

  <section class="row">
    <article class="col">

      <section class="row">
        <article class="col">
          <div class="overflow-auto px-3" id="containerLstFranqs" style="height:70vh;">
            <div class="text-center">
              <small class="d-block text-danger">Cargando...</small>
            </div>
          </div>
        </article>
      </section>
    </article>

  </section>

{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('franq_list') }}
  <script id="ptlfranq" type="text/x-jsrender">{% include 'generales/franquicias/widgets/lst-franqs.html.twig' %}</script>
{% endblock %}
