<div class="card p-2 mb-2" id="<%:idIndex %>">
  <div class="d-flex">
    <a href="#" id="btnEdit<%:idIndex %>" data-act="edit" data-tipo="<%:tipo %>" data-index="<%:idIndex %>" class="mr-2 text-primary"><i class="fas fa-pencil-alt"></i></a>
    <strong><h6> <%:campo %> </h6></strong>
    <a href="#" id="btnDel<%:idIndex %>" data-act="del" data-tipo="<%:tipo %>" data-index="<%:idIndex %>" class="ml-auto text-danger"><i class="fas fa-trash"></i></a>
  </div>
  <small class="text-muted d-inline-block text-truncate" style="max-width: 250px;"> <%:despeq %> </small>
</div>
