@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(238, 238, 238);
    min-width: 1190px;
}
.colorBtnSig{
  background-color: #0070B3;
  color: #ffffff;
}

// Generales _ localidades.
.altoLocalActu {
  height: 20vh;
  padding: 10px;
  overflow: auto;
  background-color: #ffffff;
}
