<h5 class="text-muted d-block p-0 m-p" id="titSecSec"><%:titulo %></h5>
<hr>
<small class="text-secondary d-block p-0 m-p mt-1" id="msgSecSec"><%:subTi %></small>
<section id="<%:idElement %>" class="p-2">
  <div class="text-center" id="spinnerServer">
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
  </div>
</section>
